<div class="flex flex-col min-h-screen">
  <app-navbar />

  <div class="flex-grow flex flex-col items-center justify-center">
    <h1
      class="text-3xl sm:text-4xl md:text-5xl font-extrabold mb-10 bg-gradient-to-r from-red-600 via-orange-500 to-yellow-400 bg-clip-text text-transparent"
    >
      BATTLE OF LEGENDS
    </h1>

    <app-countdown />
  </div>

  <div class="flex justify-center items-center gap-6 my-10">
    <img src="logo_fede.png" alt="LogoFESWC" class="h-20" />
    <img src="logoLegends.png" alt="LogoLegends" class="h-20" />
  </div>

  <app-footer />
</div>
