<div class="h-screen flex flex-col overflow-hidden">
  <app-navbar />

  <div
    class="flex-1 flex items-center justify-center animate__animated animate__fadeInDown"
  >
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="logo_battleoflegends.png" class="max-w-sm rounded-lg" />
      <div>
        <app-countdown />
        <p
          class="text-sm font-semibold mt-2 bg-gradient-to-r from-red-600 via-orange-500 to-yellow-400 bg-clip-text text-transparent"
        >
          Renace la gloria, Arde la leyenda.
        </p>
      </div>
    </div>
  </div>

  <app-auspiciadores></app-auspiciadores>

  <app-footer />
</div>
